
.container{
    text-align: justify;
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

#menu li{
    display: inline;
    padding: 15px;  
    font-size: 20px;
}

#menu li a{
    text-decoration: none;
    color: black;
}

#menu li a:hover{
    color: gray;
}
p{
    padding: 30px;
}
#img{
    border-radius: 80%;
}

#title{
    text-align: left;
    padding-left: 70px;
    font-size: 50px;
    color: purple;
    text-shadow: 1px 1px black;
    
}



